
.folder-list {
	margin-top: 72px;
}

.folder-list__item {
	margin-top: 16px;
}

.folder-list__link {
	display: block;
}

.folder-list__icon {
	max-width: 120px;
}

.folder-list__label {
	margin-top: 8px;
}
