.gallery__title {
    margin: 48px auto 32px;
    text-align: center;
}

.gallery__link {
    display: block;
    text-align: center;
    margin: 16px 8px;
}

.gallery__img {
    max-height: 140px;
}
