.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 66%;
  height: 300px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
}
